<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="About"></title>
    <meta  content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<header th:insert="blocks/header :: header"></header>
<div class="alert alert-info mt-2">
    <h3>It is a Web Application is an application for adding/deleting organic products</h3><br><br>
    <h5> cs204-Backend Midterm project by Aisuluu Arstanbaeva</h5>
</div>
</body>
</html>